@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



.navbar ul li a {
  display: flex;

  color: #b5b4b4c2;


}




.home {
  background-color: #935454;

}

.home,
.about,
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

}

.about {
  background-color: #969696;
}





.projects {
  background-color: #29331f;
}