@tailwind base;
@tailwind components;
@tailwind utilities;



.home,
.about,
.project {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background-color: #999D9E;
  color: #f1f1f1;
}

.about {
  background-color: #bbbbbb;
  color: #f1f1f1;
}

.project {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.project {
  font-size: 2rem;
  margin-bottom: 1rem;
}